html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}

body {
  background: #eaeaea;
  margin: auto;
}

/*
.header .section .second_section .third_section {
   flex: 1 0 auto;
   padding-bottom: 90px;
}*/


.logo__wrapper {
  margin-top: 159px;
  text-align: center;
}

.header-nav__wrapper {
  text-align: center;
  margin-top: 123px;
  margin-left: auto;
  margin-right: auto;
  height: 123px;
  width: 1120px;
  background: #ffffff;
  background: url('../img/header_background.png');
}

.logo_header_1 {
  padding-top: 50px;
  padding-left: 95px;
  display: flex;
}

.menu {
  margin-top: -25px;
}

.menu li {
  display: inline-block;
  padding: 0 30px;
}

.menu li :first-child {
  margin-left: -40px;
}

.menu li :last-child {
  margin-right: 5px;
}

.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #1e1e1e;
}

.input_nav {
  display: flex;
  margin-top: -22px;
  margin-left: 870px;
}



.input_form {
  line-height: 1.6em;
   background: url('../img/Search Icon.png') no-repeat center left 25px;
   padding-left:25px;
   padding-top: 5px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 12px;
   font-weight: bold;
  border: none;
  border: 1px solid #c2c2c2;
  }

.section {
  text-align: center;
  margin-top: 86px;
  margin-left: auto;
  margin-right: auto;
  height: 440px;
  width: 1120px;
  background: #ffffff;
  background: url('../img/background_section.png');
}

.logo_section {
  padding-top: 50px;
  margin-left: -735px;
}

.description_selection {
  padding-top: 45px;
}

.h1-selection {
  display: flex;
  padding-left: 65px;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #911026;
}

.text_selection {
  display: block;
  text-align: left;
  padding-top: 45px;
  padding-left: 65px;
  width: 305px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

.button_selection {
  display: flex;
  padding-top: 30px;
  padding-left: 65px;

}

.button_selection button {
  font-size: 12px;
  width: 109px;
  height: 29px;
  background: #ffffff;
  border: none;
  border: 1px solid #c2c2c2;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;

}

.second_section {
  text-align: center;
  margin-top: 86px;
  margin-left: auto;
  margin-right: auto;
  height: 375px;
  width: 1120px;
  background: #ffffff;
  background: url('../img/background_section2.png');
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

.menu1 {
  float: left;
  padding-top: 40px;
  padding-left: 50px;
}

.menu1_text {
  display: block;
  margin-top: 20px;
  margin-left: -23px;
  font-size: 18px;
}

.description_menu1 {
  display: block;
  padding-top: 20px;
  margin-left: -193px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #636363;
}

.menu2 {
  float: left;
  padding-top: 40px;
  padding-left: 40px;
}

.menu2_text {
  display: block;
  margin-top: 20px;
  margin-left: -110px;
  font-size: 18px;
}


.description_menu2 {
  display: block;
  padding-top: 20px;
  margin-left: -193px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #636363;
}


.menu3 {
  float: right;
  padding-top: 40px;
  padding-right: 50px;
}

.menu3_text {
  display: block;
  margin-top: 20px;
  width: 278px;
  text-align: left;
  font-size: 18px;
}

.description_menu3 {
  display: block;
  padding-top: 20px;
  margin-left: -183px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #636363;
}

.third_section {
  text-align: center;
  margin-top: 86px;
  margin-left: auto;
  margin-right: auto;
  height: 440px;
  width: 1120px;
  background: #ffffff;
  background: url('../img/background_section3.png');
}

.section3_content {
  width: 500px;
  height: 370px;
  float: right;
  margin-right: 53px;
}

.h1_section3 {
  text-align: left;
  display: block;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: bold;
  color: #055555;
}

.description_section3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #636363;
  display: block;
  float: left;
  margin-top: 10px;
  width: 157px;
  margin-left: -10px;
}

.section3_button {
  margin-top: -20px;
  margin-left: 350px;
  font-size: 12px;
  width: 109px;
  height: 29px;
  background: #ffffff;
  border: none;
  border: 1px solid #c2c2c2;
  cursor: pointer;
  float: right;
  font-family: 'Josefin Sans', sans-serif;
}

.text1_section3 {
  display: block;
  text-align: left;
  padding-top: 72px;
  font-size: 16px;
  line-height: 1.3;
  font-family: 'Josefin Sans', sans-serif;

}

.h3_section3 {
  display: block;
  text-align: left;
  padding-top: 30px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

.text2_section3 {
  display: block;
  text-align: left;
  padding-top: 32px;
  font-size: 16px;
  line-height: 1.3;
  height: 100px;
  overflow: scroll;
  font-family: 'Josefin Sans', sans-serif;
}

/*__4 секция FLEX_________________________________*/



.forth_section {
  text-align: center;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  height: 523px;
  width: 1120px;
  display: flex;
  justify-content: space-between;

  }


.first_column {
  width: 520px;
  background: #ffffff;
  background: url('../img/background_first_column.png');


}

.first_column_h1 {
text-align:left;
display: block;
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
font-weight: bold;
margin-top: 30px;
margin-left: 55px;
}

.first_column_line {
  height:1px;
  border:none;
  width: 440px;
  color: #dadbdb;
}

.first_column_content {
  display: block;
  margin-top: 160px;
  margin-left: 30px;
}

.first_column_h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 34px;
  font-weight:900;
}


.first_column_text {
padding-top: 10px;
padding-bottom: 10px;
font-family: 'Playfair Display', serif;
font-size: 16px;
text-transform: uppercase;
font-weight: bold;
color: #dadbdb;
}

.first_column_button {
  margin-left: 30px;
  margin-top: 130px;
  font-size: 12px;
  width: 109px;
  height: 29px;
  background: #ffffff;
  border: none;
  border: 1px solid #c2c2c2;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
}



.second_column {
  width: 520px;
  background-color: #ffffff;
  background: url('../img/background_second_column.png');
}

.second_column_photo {
  display: block;
  float: left;
  margin-top: 10px;
  margin-left: 40px;
}

.second_column_h1 {
  text-align:left;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 55px;
}


.second_column_line1 {
  height:1px;
  border:none;
  width: 440px;
  color: #dadbdb;
}


.second_column_h2 {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight:900;
  width: 165px;
  margin-top: 35px;
  margin-left: 140px;
}

.second_column_text1 {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  width: 140px;
  margin-top: 15px;
  margin-left: 140px;
}

.second_column_social_links {
color: #aaaaaa;
letter-spacing: 5px;
width: 140px;
margin-top: 15px;
margin-left: 160px;
}

.second_column_line2 {
  height:1px;
  border:none;
  width: 290px;
  color: #dadbdb;
  margin-left: 180px;
}

.second_column_h1-2 {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: -45px;
}


.second_column_text2 {
display: block;
width: 290px;
margin-top: 30px;
text-align: left;
margin-left: 175px;
}

.second_column_signature {
display: block;
margin-top: 10px;
margin-left: 300px;

}






/*_____________________________________________________________________  */

.footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  width: 1120px;
  background: #2f2f2f;
  position: absolute;
  /* left: 0; */
  bottom: -330px;
}

.logo_footer {
  margin-top: 35px;
  margin-left: -420px;
}

.menu_nav_footer {
  margin-top: -25px;
}

.menu_footer li {
  display: inline-block;
  padding: 0 30px;
  font-size: 12px;
}

.menu_footer li :first-child {
  margin-left: -40px;
}

.menu_footer li :last-child {
  margin-right: 5px;
}

.menu_footer li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #636363;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.copy {
  display: block;
  float: right;
  margin-top: -13px;
  margin-right: 55px;
  color: #636363;
  font-size: 12px;
}

.social_links {
  display: block;
  color: #636363;
  letter-spacing: 5px;
  margin-right: -920px;
  margin-top: 18px;
}
