
body {
  background: #eaeaea;
  margin: auto;
      }


.logo__wrapper {
  margin-top: 159px;
  text-align: center;
}


.header-nav__wrapper {
  text-align: center;
  margin-top: 123px;
  margin-left: auto;
  margin-right: auto;
  height: 123px;
  width: 1120px;
  background: #ffffff;
}


  .logo_header_1{
    padding-top:  44px;
    padding-left: 95px;
    display: flex;
  }


.menu {
margin-top: -25px;
}


.menu li{
  display: inline-block;
  padding: 0 30px;

     }


.menu li :first-child {
  margin-left: -40px;
}


.menu li :last-child {
  margin-right: 5px;
}



.menu li a{
  	text-transform: uppercase;
    text-decoration: none;
    color: #1e1e1e;
    }


.input_nav {
    display: flex;
    margin-top: -22px;
    margin-left: 870px;
    }

.input_form {
    line-height: 1.7em;
    }


    .section {
      text-align: center;
      margin-top: 86px;
      margin-left: auto;
      margin-right: auto;
      height: 440px;
      width: 1120px;
      background: #ffffff;
      background: url('../img/background_section.png');
    }


.logo_section {
      padding-top: 50px;
      margin-left: -735px;
}


.description_selection {
      padding-top: 45px;
}



.h1-selection  {
display: flex;
padding-left: 65px;
font-size: 24px;
color: #911026;
}


.text_selection {
  display: block;
  text-align: left;
  padding-top: 45px;
  padding-left: 65px;
  width: 305px;
  font-size: 16px;
}


.button_selection {
  display: flex;
  padding-top: 30px;
  padding-left: 65px;

}

.button_selection button {
  font-size: 12px;
  width: 109px;
  height: 29px;
  background: #ffffff;
  border: none;
  border: 1px solid #c2c2c2;
  cursor: pointer;
}


 .second_section {
   text-align: center;
   margin-top: 86px;
   margin-left: auto;
   margin-right: auto;
   height: 375px;
   width: 1120px;
   background: #ffffff;

 }


 .menu1 {
float: left;
padding-top: 40px;
padding-left: 50px;
 }

.menu1_text {
display: block;
margin-top: 20px;
margin-left: -35px;
font-size: 18px;
}



.menu2 {
  float: left;
  padding-top: 40px;
  padding-left: 40px;
}


.menu2_text {
display: block;
margin-top: 20px;
margin-left: -120px;
font-size: 18px;
}


.menu3 {
  float: right;
  padding-top: 40px;
  padding-right: 50px;
}


.menu3_text {
  display: block;
  margin-top: 20px;
  width: 278px;
  text-align: left;
  font-size: 18px;
}

.third_section {
  text-align: center;
  margin-top: 86px;
  margin-left: auto;
  margin-right: auto;
  height: 440px;
  width: 1120px;
  background: #ffffff;
  background: url('../img/background_section3.png');
}


.section3_content {
  width: 500px;
  height: 370px;
  float: right;
  margin-right: 53px;
}

.h1_section3 {
text-align: left;

display: block;
padding-top: 40px;
padding-bottom: 30px;
font-size: 32px;
color: #055555;
}



.section3_button {
  margin-left: 350px;
  font-size: 12px;
  width: 109px;
  height: 29px;
  background: #ffffff;
  border: none;
  border: 1px solid #c2c2c2;
  cursor: pointer;
}

.text1_section3 {
display: block;
text-align: left;
padding-top: 32px;
font-size: 16px;
line-height: 1.3;
}

.h3_section3 {
  display: block;
  text-align: left;
  padding-top: 30px;
  font-weight: bold;
}

.text2_section3 {
  display: block;
  text-align: left;
  padding-top: 32px;
  font-size: 16px;
  line-height: 1.3;
  height: 100px;
  overflow: scroll;
}


.foot {
  text-align: center;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  width: 1120px;
  background: #2f2f2f;
}


.logo_footer {
margin-top: 74px;
margin-left: -420px;

}


 .menu_nav_footer {
  margin-top: -25px;
}


.menu_footer li{
  display: inline-block;
  padding: 0 30px;
  font-size: 12px;

     }


.menu_footer li :first-child {
  margin-left: -40px;
}


.menu_footer li :last-child {
  margin-right: 5px;
}



.menu_footer li a{
  	text-transform: uppercase;
    text-decoration: none;
    color: #636363;
    }


.copy{
  display: block;
  float: right;
  margin-top: -13px;
  margin-right: 55px;
  color: #636363;
  font-size: 12px;
}
